extends ../_shared/page-layout

block page-body

	div.row
		div.col-md-6

			p.intro #[strong Want to get in touch? Awesome - I&#39;d love to hear from you!] Feel free to get in touch on any of these channels, and I'll get back to you as soon as I can.

		div.col-md-6

			p
				i.fa.fa-fw.fa-envelope-o.text-highlight
				| &nbsp;
				| #[strong Email] me on #[a(href = 'mailto:me@markormesher.co.uk') me@markormesher.co.uk]

			p
				i.fa.fa-fw.fa-phone.text-highlight
				| &nbsp;
				| #[strong Call] me on +44(0) 7775 932063
				| &nbsp;&nbsp;
				i.fa.fa-info-circle.text-very-muted(
				data-toggle = 'tooltip',
				data-placement = 'right',
				title = 'I work normal UK hours; calls from unknown numbers may not be answered over the weekend or in the evening!')

			p
				i.fa.fa-fw.fa-twitter.text-highlight
				| &nbsp;
				| #[strong Tweet or DM] me on #[a(href = 'https://twitter.com/m_s_ormo', rel = 'external') @m_s_ormo]
			p
				i.fa.fa-fw.fa-linkedin.text-highlight
				| &nbsp;
				| #[strong Send me an InMail] on #[a(href = 'https://uk.linkedin.com/in/markormesher', rel = 'external') LinkedIn]

block scripts

	script(type = 'text/javascript') $(document).ready(function() { $('[data-toggle = "tooltip"]').tooltip(); });