extends ../_shared/page-layout

block page-body
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac pretium eros, et eleifend velit. Pellentesque tincidunt laoreet nulla, nec dignissim nulla luctus finibus. Ut neque nisi, condimentum a leo a, molestie egestas odio. Suspendisse non mauris lacus. Aliquam viverra lectus non dui ultricies commodo. Sed pretium est sed urna rutrum pharetra. Praesent ut sem efficitur, gravida erat vel, imperdiet magna. Ut ac dolor risus.

	p Pellentesque efficitur metus quis libero bibendum imperdiet. Praesent vehicula ante tellus, ut vehicula risus pharetra a. Aenean fermentum consectetur quam sed sagittis. Vivamus accumsan mattis mi, in hendrerit magna placerat non. Integer sed facilisis lacus. Nam malesuada ligula in tellus volutpat, vitae viverra arcu faucibus. Nam nec nisl auctor odio tincidunt volutpat quis commodo massa. Donec porta bibendum nisl a luctus. Sed eu lacinia neque, in pulvinar nisi. Nullam bibendum massa id sollicitudin eleifend.