ul.navigation
	li.active
		a(href = '/info')
			i.fa.fa-map-signs
			span Info &amp; Skills

	li
		a(href = '/info')
			i.fa.fa-code
			span Projects

	li
		a(href = '/info')
			i.fa.fa-briefcase
			span Positions

	li
		a(href = '/info')
			i.fa.fa-comment-o
			span References

	li
		a(href = '/info')
			i.fa.fa-envelope-o
			span Contact