- cP = (_ && _.currentPage) || '';

ul.navigation
	li(class = cP == 'info' ? 'active' : '')
		a(href = '/info')
			i.fa.fa-lightbulb-o
			span Info &amp; Skills

	li(class = cP == 'projects' ? 'active' : '')
		a(href = '/projects')
			i.fa.fa-code
			span Projects

	li(class = cP == 'positions' ? 'active' : '')
		a(href = '/positions')
			i.fa.fa-briefcase
			span Positions

	li(class = cP == 'references' ? 'active' : '')
		a(href = '/references')
			i.fa.fa-comment-o
			span References

	li(class = cP == 'contact' ? 'active' : '')
		a(href = '/contact')
			i.fa.fa-envelope-o
			span Contact