extends root-layout

block head
	link(rel = 'stylesheet', href = '/_shared/css/page-layout.css')
	block page-head

block body
	div.container
		div.header
			h1= _.pageTitle
			span
				span &nbsp;&nbsp;
				em //
				| &nbsp;&nbsp;
				a(href = '/') Mark Ormesher

		include ../_shared/navigation

		div.content
			block page-body

			div.hr.end: hr