include ../_mixins/plugins

doctype html
html
	head
		if title == null
			title Mark Ormesher
		else
			title Mark Ormesher :: #{_.title}
		link(rel = 'stylesheet', href = '//fonts.googleapis.com/css?family=Lato:300,400,700,900')
		link(rel = 'stylesheet', href = '/_shared/css/reset.css')
		link(rel = 'stylesheet', href = '/_vendor/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_vendor/css/bootstrap-theme.min.css')
		link(rel = 'stylesheet', href = '/_vendor/css/bootstrap-portlets.min.css')
		link(rel = 'stylesheet', href = '/_vendor/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_vendor/css/toastr.min.css')
		link(rel = 'stylesheet', href = '/_shared/css/globals.css')
		block head

	body
		block body
		script(src = '/_vendor/js/jquery-1.11.3.min.js')
		script(src = '/_vendor/js/bootstrap.min.js')
		+plugin_toastr(_)
		block scripts