doctype html
html
	head
		if _ == null || _.pageTitle == null
			title Mark Ormesher
		else
			title #{_.pageTitle} // Mark Ormesher
		link(rel = 'stylesheet', href = '//fonts.googleapis.com/css?family=Lato:300,400,700,900')
		link(rel = 'stylesheet', href = '/_shared/css/reset.css')
		link(rel = 'stylesheet', href = '/_vendor/bootstrap/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_vendor/bootstrap/bootstrap-theme.min.css')
		link(rel = 'stylesheet', href = '/_vendor/font-awesome/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_shared/css/globals.css')
		link(rel = 'shortcut icon', type = 'image/x-icon', href = 'data:image/x-icon;,')
		meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		block head

	body
		block body

		script(src = '/_vendor/jquery/jquery-1.11.3.min.js')
		script(src = '/_vendor/bootstrap/bootstrap.min.js')
		script(src = '/_shared/js/global.js')
		block scripts