extends ../_shared/page-layout

mixin reference(name, role, id, imageName)
	div.floating-grid-item.reference(id = id): div.inner
		if imageName != null
			div.left-thumbnail: img.avatar(src = '/references/images/' + imageName, title = title)
		h3!= name
		if role != null
			p.subtitle!= role.join('<br />')
		block
		P.read-more.text-center.hide
			a.icon-link(href = 'javascript:;')
				i.fa.fa-angle-down.text-highlight
				span Read more

block page-head
	link(rel = 'stylesheet', href = '/_shared/css/floating-grid-layout.css')
	link(rel = 'stylesheet', href = '/references/css/references.css')

block page-body

	div.floating-grid

		+reference(
		'Anish Bagga',
		['CEO @ Unitu'],
		'anish-bagga',
		'anish-bagga.png')

			p Mark has been an #[strong exceptional addition] to the Unitu team. He possesses both technical and character skills that not only get tasks done extremely efficiently but also help push the company forward.
			p He embodies the company philosophy - #[em Impossible is nothing] - and brings traits that inspire and motivate other team members.
			p He managed to build the #[a(href = '/projects#unitu-android-app') Unitu Android App] within less than 3 months and go FAR beyond the given specification. He took complete ownership over his work and dedicated himself fully with #[strong absolute care and precision].
			p In addition to this, he is also #[strong loyal, committed and ambitious]. As a co-founder of Unitu, I am both proud and thrilled to be working along side him, knowing that with Mark on our team we can achieve anything. I am available to provide an extensive recommendation for Mark, so please don't hesitate to contact me.


		+reference(
		'Andrew Coles',
		['Lecturer in Computer Science @ King&#39;s College London'],
		'andrew-coles',
		'andrew-coles.png')

			p Mark is #[strong a very able student] - I taught him on two of his first-year programming modules, and was #[strong surprised and impressed] with the quality of the work he produced.
			p His academic abilities are backed up by #[strong solid practical skills]: he has a keen eye for detail, producing code that is well-designed and well-tested. He is actively involved in working with other students here at King's, both through the KCL Tech Society, and through assisting in our hands-on first-year advanced programming topics course.
			p #[strong I have no hestitation in recommending Mark] for suitable jobs, internships and so on - please get in touch if you would like a formal reference.


		+reference(
		'Peter McBurney',
		['Head of Informatics @ King&#39;s College London'],
		'peter-mcburney',
		'peter-mcburney.png')

			p Mark is an #[strong exceptional programmer] and a great human being. He is very bright, hard-working, and competent, and he is able to get stuff done.
			p He is goal-directed and works quickly, and is #[strong not afraid to learn] whatever he needs to complete a task. He communicates ideas well, with humour and enthusiasm, and he is passionate about his work and his beliefs. #[strong I recommend him very highly].


		+reference(
		'Jide Okunoren',
		['Software Engineer @ Jisc'],
		'jide-okunoren',
		'jide-okunoren.png')

			p I collaborated with Mark on building Jisc's Data Hub platform. He was instrumental in specifying the project's requirements, user stories &amp; deliverables. I was very impressed by his #[strong enthusiasm, commitment &amp; passion], as well as his communication, project management &amp; technical skills.
			p It always helps when a collaborator has an understanding of the underlying technology, but it’s a bonus when they have #[strong expert knowledge] &amp; actively participate in the development process. Working with the MEAN stack, Mark developed web services for testing the Data Hub platform from a stakeholder's perspective. This was #[strong an asset to the project], as it improved the final deliverables beyond the original specification.
			p Overall, I really enjoyed working with Mark & would recommend him as a #[strong great developer, team player & a great asset] to any team.


		+reference(
		'Fares Alaboud',
		['President @ KCL Tech', 'Colleague @ Unitu'],
		'fares-alaboud',
		'fares-alaboud.png')

			p I've had the pleasure of working with Mark on several occasions in different environments and on a handful of projects. Whether we've worked together in the same company, collaboratively in hackathons or on a university side-project, I have to say that #[strong there's no one else I'd rather work with].
			p Mark is punctual and supportive, and when it comes to his work, you'll always find it #[strong perfect]. Mark has pays excellent attention to detail, and puts all of his effort in making anything he builds the best it could be.
			p He's one of the few people I've met that have #[strong a true passion] for what they do, and I think that's the reason why he's simply unique at it.


		+reference(
		'Ana Jalbă',
		['Events Organiser @ Unitu'],
		'ana-jalba',
		'ana-jalba.jpg')

			p I am proud to say that I had the chance of working with Mark on several projects at hackathons and being taught by him at the “Build X: Android” courses that he held as a committee member of the KCL Tech Society.
			p He encouraged me to approach languages that I was not familiar with because that is how he is: #[strong he likes learning new things] every day and #[strong he likes teaching others] what he just learned. He makes a very good mentor because not only did he teach me most of what I know about Android development and other programming languages, but he also helped me understand some concepts with which I had trouble at university.
			p Because we both work at Unitu, I saw his contribution to the Android and web applications that Unitu delivers to customers. I can confidently say that he is #[strong hard-working] and he tries his best to deliver #[strong very high quality in a short time].
			p Mark is #[strong very passionate about what he does] and you can see that in his work; his passion is almost contagious. He is very careful with his work, punctual and I truly believe he would be #[strong a perfect candidate] for any developing role that fits him and he would be an asset to any team!


		+reference(
		'David West',
		['Workshop Manager @ Gigante Computers'],
		'david-west',
		'david-west.png')

			p Mark was one of my technicians from my time as Technical Manager at Gigante Computers. Mark was a very #[strong reliable and hard working] employee. Whatever task I assigned to him he would have completed before his given deadline and to a high quality standard. His #[strong communication was perfect] for the vast range of customers we dealt with.
			p He would also train new technicians to the business as I could rely on him training them to the high standard we set ourselves. I would happily work with Mark again and #[strong highly recommend him] to anyone thinking of employing him in the future.


		+reference(
		'Joshua Simpson',
		['Vice President @ KCL Tech'],
		'joshua-simpson',
		'joshua-simpson.png')

			p I'm very happy to have been able to work with Mark over the course of the past year in several capacities, but mostly as part of KCL's Tech Society - Mark has been #[strong an invaluable member] of the committee, showing time and time again his passion for what he does, his eye for detail and his ability to produce work above and beyond expectations.
			p His character, work ethos and technical ability make him #[strong a fantastic addition] to any truly deserving team.


		+reference(
		'Tara Drummond-Finnis',
		['Learning and Development Manager @ Excelian', 'Learning and Development Advisor @ Allianz Insurance'],
		'tara-drummond-finnis',
		'tara-drummond-finnis.png')

			p I was fortunate to meet Mark at a King's Uni Careers Event. I was struck by his #[strong excellent attitude and skill set] within a few moments of our first conversation. Consequently it was my pleasure to facilitate a summer Internship at Excelian.
			p He became part of the team very quickly, acted on his own initiative, #[strong provided new ideas for old challenges], and was considered a welcome addition to the Company.
			p I can only say that the next Company that is fortunate to benefit from his #[strong talent and experience], will be making a smart move when they hire him!


		+reference(
		'Angeleen Leckie-James',
		['Senior Performance Improvement Consultant @ Allianz Insurance'],
		'angeleen-leckie-james',
		'angeleen-leckie-james.png')

			p Working with Mark was an absolute pleasure and overall a great experience. He brought #[strong drive and enthusiasm] to the change team whilst maintaining #[strong excellent communication] throughout his project.
			p He delivered a solution that not just met but #[strong exceeded the requirements] of his brief, on time and on budget. I would without doubt have Mark work with us again!


		+reference(
		'Hayley Sangan',
		['SME Operations Manager @ Allianz Insurance'],
		'hayley-sangan',
		'hayley-sangan.png')

			p We're so thrilled that you joined us for one of your internships and you've #[strong contributed a huge amount] in a very short space of time. Your most significant contribution was the #[a(href = '/projects#petplan-live') dashboard], which has enabled us to engage our people in our KPIs with something #[strong considerably more exciting] than a graph or a report.
			p You've also left it so that we can update it easily and other areas of the business have already seen it and want to replicate it! Despite you not having worked in a call centre before, I was #[strong hugely impressed with your professionalism, work ethic and ability to engage people] at various different levels. I only wish you could have stayed longer!


block scripts
	script(src = '/_vendor/masonry/masonry.packaged.min.js')
	script(src = '/_vendor/masonry/jquery.imagesloaded.js')
	script(src = '/_shared/js/floating-grid-layout.js')
	script(src = '/references/js/references.js')