extends shared/page-layout

block page-body

	div.row
		div.col-md-6

			p.text-larger #[strong Want to get in touch?] Feel free to send me an email and I'll get back to you as soon as I can.

		div.col-md-6

			p
				i.fa.fa-fw.fa-envelope-o.text-highlight
				| &nbsp;
				| #[strong Email] me on #[a(href = 'mailto:me@markormesher.co.uk') me@markormesher.co.uk]

			p
				i.fa.fa-fw.fa-lock.text-highlight
				| &nbsp;
				| PGP Key Info:

			pre.
				Key:         0xD728C145
				Fingerprint: 764D 648C 677C D2A0 51A2 D863 DE30 8192 D728 C145

			p
				i.fa.fa-fw.fa-download.text-highlight
				| &nbsp;
				| #[a(href = '/contact/mark-ormesher.asc') Public key block]
