# This file is maintained by Tedium - manual edits will be overwritten!

version: "2.1"
jobs:
  checkout:
    docker:
      - image: cimg/base:2026.01@sha256:959f18d011f0a451351f3d0cc6720c3e80729bbcd01f06b94472bb62e12135ff
    steps:
      - checkout:
          path: .
      - persist_to_workspace:
          root: .
          paths:
            - .
  ci-all:
    docker:
      - image: cimg/base:2026.01@sha256:959f18d011f0a451351f3d0cc6720c3e80729bbcd01f06b94472bb62e12135ff
    steps:
      - run:
          command: echo "Done"
  fetch-task:
    docker:
      - image: ghcr.io/markormesher/task-fetcher:v0.5.54@sha256:f915fb7eaa65eeff53fd07701d667c7b4ef4afdc6957c086358191e2931c8cfe
    steps:
      - attach_workspace:
          at: .
      - run:
          command: cp /task .
      - persist_to_workspace:
          root: .
          paths:
            - ./task
  imgbuild-imgpush:
    docker:
      - image: cimg/base:2026.01@sha256:959f18d011f0a451351f3d0cc6720c3e80729bbcd01f06b94472bb62e12135ff
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |-
            echo "${GHCR_PUBLISH_TOKEN}" | docker login ghcr.io -u markormesher --password-stdin
            ./task imgbuild
            ./task imgpush
  imgrefs:
    docker:
      - image: docker.io/alpine/git:v2.52.0@sha256:b4ba5e95ee803a9f98fe9f4306e0105f679d2386dedaf207ffe62dd20fdd3f1c
    steps:
      - attach_workspace:
          at: .
      - run:
          command: ./task imgrefs
      - persist_to_workspace:
          root: .
          paths:
            - ./.task-meta-imgrefs
            - ./**/.task-meta-imgrefs
workflows:
  version: 2
  main:
    jobs:
      - checkout:
          requires: []
          filters:
            tags:
              only: /.*/
      - fetch-task:
          requires: []
          filters:
            tags:
              only: /.*/
      - imgrefs:
          requires:
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - imgbuild-imgpush:
          requires:
            - checkout
            - fetch-task
            - imgrefs
          filters:
            tags:
              only: /.*/
      - ci-all:
          requires:
            - imgbuild-imgpush
            - imgrefs
          filters:
            tags:
              only: /.*/
