extends ../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/info/css/info.css')

block page-body

	//- intro

	img.inline-right.bordered(
	src = '/info/images/awards-ceremony-photo.png'
	width = '300px'
	title = 'Software developer and student in London')

	p.text-larger
		strong.text-highlight Hi, I'm Mark!
		|  I'm a #[a(href = '#software-development') #[strong software developer]] and #[a(href = '#studies') student] in London, and I've been writing code in various forms #[strong since 2005]. I'm currently studying Computer Science at #[a(href = '/positions#kcl') #[strong King&#39;s College London]] and working for #[a(href = '/positions#unitu') #[strong Unitu]] as a developer on a number of #[a(href = '/projects') projects].

	p Outside of coding, I've also #[a(href = '/positions') worked] as a #[strong teacher], hardware technician and salesman. I launched my first website at the age of 12, and I haven't put the keyboard down since. Writing #[strong quality code] is not only a job for me, but also #[strong a hobby and a passion]: I'm a regular hackathon attendee, I maintain a few personal #[a(href = '/projects') projects], and I love to #[strong play with new languages] and learn more about the ones I already know.

	//img.inline-right.bordered(
	//src = '/info/images/hackathon-photo.png'
	//width = '300px'
	//title = 'Hack the Planet, Palo Alto, CA // Photo Credit: Major League Hacking powered by Dell | Intel')

	//- software development

	h2#software-development Software Development

	- var years = Math.round((new Date() - new Date(2005, 10, 6)) / (1000 * 60 * 60 * 24 * 365));
	p In #[strong #{ years } years] of programming, I've worked and played with a wide range of #[strong languages, frameworks and various other technologies]. The main ones I've worked with, and the ones I've enjoyed the most, are listed below:

	div.language-cloud
		ul
			li(data-target = 'node-js')
				i.fa.fa-star-o.text-highlight
				| &nbsp;&nbsp;
				| Node.js
			li(data-target = 'android')
				i.fa.fa-star-o.text-highlight
				| &nbsp;&nbsp;
				| Android
			li(data-target = 'java') Java
			li(data-target = 'php') PHP
			li(data-target = 'c-sharp-dot-net') C# .NET
			li(data-target = 'mysql-mongodb') MySQL & MongoDB
			li(data-target = 'javascript-jquery') JavaScript & jQuery
			li(data-target = 'html-jade-ejs') HTML, Jade &amp; EJS
			li(data-target = 'scss') (S)CSS

	p.text-muted.language-slideshow-status.text-center

	mixin languageSectionHeader(title)
		i.text-highlight.fa.fa-fw.fa-angle-double-right
		strong=title
		| &nbsp;
		span.text-muted //
		| &nbsp;

	p.language(data-key = 'node-js')
		+languageSectionHeader('Node.js')
		| I started using #[em Node.js] (+ #[em Express.js], #[em MongoDB], #[em Mongoose], etc.) in early-2015, and I am thoroughly enjoying it. I've built a few #[a(href = '/projects') sites and tools] using it - including this one - and I intend to keep exploring it and using it as one of my primary languages. I also started learning #[em React] and #[em AngularJS] in early-2016.

	p.language(data-key = 'android')
		+languageSectionHeader('Android')
		| Starting at a hackathon in early-2014, my passion for #[em Android] development grew quickly, fuelled by a developer #[a(href = '/positions#unitu') position at Unitu]. Since starting I have developed a number of apps, volunteered as an #[em Android mentor] at hackathons, and delivered an 8-part #[a(href = '/projects#android-lectures') Android lecture series] at King's College London.

	p.language(data-key = 'java')
		+languageSectionHeader('Java')
		| Whilst #[a(href = '#studies') studying] #[em Computer Science], #[em Java] became one of my primary languages for development and I developed a strong proficiency with it. It is still one that I use regularly, mainly for my work with #[em Android].

	p.language(data-key = 'php')
		+languageSectionHeader('PHP')
		| The #[em LAMP stack] was my first adventure into &quot;real&quot; programming and the first back-end stack I learned. I built a lot of websites with PHP and developed very strong skills with each level of the LAMP stack; I still it them occasionally if it's the right tool for the job.

	p.language(data-key = 'c-sharp-dot-net')
		+languageSectionHeader('C# .NET')
		| I started using #[em C# .NET] and the #[em MVC5] framework to work on the #[a(href = '/projects#unitu-web-api') Unitu website and API] in mid-2015. Although it's not my primary language, I have learned quickly and continue to use it almost daily.

	p.language(data-key = 'mysql-mongodb')
		+languageSectionHeader('MySQL & MongoDB')
		| Whilst working with the #[em LAMP] stack I gained a good understanding of #[em MySQL] and incorporated it into many of my projects. In 2014 I began experimenting with #[strong NoSQL] databases, and since then I have used #[em MongoDB] in a number of my projects.

	p.language(data-key = 'javascript-jquery')
		+languageSectionHeader('JavaScript & jQuery')
		| I have been using #[em JavaScript] to drive the client-side of my web projects since I began in 2005, and I've been using #[em jQuery + jQuery UI] to support that work since 2008. In 2014 I began playing with #[em CoffeeScript], mostly out of curiosity and interest; I still use it when I have projects that will involve a lot of front-end #[em JS].

	p.language(data-key = 'html-jade-ejs')
		+languageSectionHeader('HTML/Jade/EJS')
		| My first foray into coding was a very basic website, &quot;powered&quot; by vanilla #[em HTML] and  #[em CSS]. I quickly moved on to more interesting areas of web development, but #[em HTML] remains a vitally important skill when it comes to understanding and building the front-end components of my projects. Since 2015 I have used both #[em Jade] and #[em EJS] improve the work I do with #[em HTML].

	p.language(data-key = 'scss')
		+languageSectionHeader('(S)CSS')
		| Whilst I am mostly a back-end developer, I have used #[em CSS] since the very beginning of my programming career, and I continue to use it on a regular basis. I have a good grasp of it and I enjoy using it to create attractive and cleanly-constructed projects. Since 2015 I have been using #[em SCSS] to improve my workflow and the structure of my code.

	p.language-show-all(style = 'display: none;')
		a.icon-link(href = 'javascript:;')
			i.fa.fa-angle-double-right.text-highlight
			span Show All

	//- studies

	h2#studies Studies

	img.inline-right.bordered(
	src = '/info/images/teaching-photo.jpg'
	width = '300px'
	title = "Teaching Android Development at King's College London")

	p.text-larger I'm currently studying #[strong BSc Computer Science] at #[a(href = '/positions#kcl') #[strong King&#39;s College London]]; I'm in my third year, doing an #[a(href='/positions#unitu') industry placement at Unitu], and I will complete my degree in 2017. I'm well on-track for a #[strong first class degree], with a weighted average of #[strong 89%] across 27 assessments in my first two years.

	p My modules so far have included computing foundations, object-orientated programming, logic, database theory, artificial intelligence, software design, functional programming theory and group software projects. #[strong For a complete list of my modules and grades, check #[a(href='/cv') my CV]].

	//- scripts

block scripts
	script(src = '/info/js/info.js')