extends ../_shared/page-layout

block page-body

	// intro

	img.inline-right.bordered(
	src = '/info/images/awards-ceremony-photo.png',
	width = '300px',
	title = 'Software developer and student in London'
	)

	p.intro
		strong.text-highlight Hi, I'm Mark!
		|  I'm a <strong>software developer</strong> and student in London, and I've been writing code in various forms <strong>since 2004</strong>. I'm currently studying Computer Science at <strong>King's College London</strong> and working for <strong>Unitu</strong> as a developer on a number of <a href="/projects">projects</a>.

	p.intro Outside of coding, I've also <a href="/positions">worked</a> as a <strong>teacher</strong>, hardware technician and salesman.

	// software development

	h2 Software Development

	p.intro I launched my first website at the age of 12, and I haven't put the keyboard down since. Writing <strong>quality code</strong> is not only a job for me, but also <strong>a hobby and a passion</strong>. I'm a regular hackathon attendee, I maintain a few personal projects, and I take every chance I get to <strong>play with new languages</strong> and learn more about the ones I already know.

	h3 Languages &amp; Frameworks

	p
		strong Node.js
		|  blah blah blah blah

	p
		strong C# .NET
		|  blah blah blah blah

	p
		strong Android
		|  blah blah blah blah

	p
		strong LAMP
		|  blah blah blah blah

	p
		strong HTML & CSS
		|  blah blah blah blah