extends ../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/info/css/info.css')

block page-body

	//- intro

	img.inline-right.bordered(
	src = '/info/images/awards-ceremony-photo.png'
	width = '300px'
	title = 'London-based software developer')

	p.text-larger
		strong.text-highlight Hi, I'm Mark.
		|  I'm a #[strong software developer] in London and I've been writing code in various shapes and sizes #[strong since 2005]. I'm a King's College London Computer Science graduate, I work on a number of #[a(href = '/projects') projects], and I'm lucky enough to #[a(href = '/positions') #[strong do what I love for a living]].

	p Away from code, I've also #[a(href = '/positions') worked] as a #[strong secondary school teacher], a teaching assistant, a computer hardware technician and a salesman. Whatever the role, I have always dedicated myself to it and done my best to produce #[strong great results] - you can click to see my #[a(href = '/positions') employed positions] and #[a(href = '/references') references].

	//- software development

	h2#software-development Software Development

	- var years = Math.round((new Date() - new Date(2005, 10, 6)) / (1000 * 60 * 60 * 24 * 365));
	p In #[strong #{years} years] of programming, I've worked and played with a wide range of #[strong languages, frameworks and various other technologies]. The main ones I've worked with, and the ones I've enjoyed the most, are listed below:

	div.language-list
		ul
			li(data-target = 'node-js')
				i.fa.fa-star-o.text-highlight
				| &nbsp;&nbsp;
				| Node.js
			li(data-target = 'android')
				i.fa.fa-star-o.text-highlight
				| &nbsp;&nbsp;
				| Android
			li(data-target = 'java-kotlin') Java/Kotlin
			li(data-target = 'php') PHP
			li(data-target = 'c-sharp-dot-net') C# .NET
			li(data-target = 'mysql') MySQL & Others
			li(data-target = 'javascript-jquery') JavaScript & jQuery

	p.text-muted.slideshow-status.text-center Slideshow paused - click to resume

	mixin languageSectionHeader(title)
		i.text-highlight.fa.fa-fw.fa-angle-double-right
		strong=title
		| &nbsp;
		span.text-muted //
		| &nbsp;

	p.language-slide(data-key = 'node-js')
		+languageSectionHeader('Node.js')
		| I started using #[em Node.js] (+ #[em Express.js]) in early-2015 and I am thoroughly enjoying it. I've built a few #[a(href = '/projects') sites and tools] using it - including this one - and I intend to keep exploring it and using it as one of my primary languages. I also started learning #[em React] and #[em AngularJS] in early-2016.

	p.language-slide(data-key = 'android')
		+languageSectionHeader('Android')
		| Starting at a hackathon in early-2014, my passion for #[em Android] development grew quickly, fuelled by a #[a(href = '/positions#unitu') lead developer position at Unitu]. I have developed a number of other apps as personal projects, volunteered as an #[em Android mentor] at hackathons, and delivered an 8-part #[a(href = '/projects#android-lectures') Android lecture series] at King's College London.

	p.language-slide(data-key = 'java-kotlin')
		+languageSectionHeader('Java/Kotlin')
		| Whilst studying Computer Science, #[em Java] became one of my primary languages for development and I developed a strong proficiency with it. In 2016 I began experimenting with #[em Kotlin] and very quickly found it to be a good fit for me. I still use both languages regularly, mainly for my work with #[em Android].

	p.language-slide(data-key = 'javascript-jquery')
		+languageSectionHeader('JavaScript & jQuery')
		| I have been using #[em JavaScript] to drive the client-side of my web projects since I began in 2005, and I've been using #[em jQuery + jQuery UI] to support that work since 2008. In 2014 I began playing with #[em CoffeeScript], mostly out of curiosity and interest; I still use it when I have projects that will involve a lot of front-end #[em JS].

	p.language-slide(data-key = 'php')
		+languageSectionHeader('PHP')
		| The #[em LAMP stack] was my first adventure into &quot;real&quot; programming and the first back-end stack I learned. I built a lot of websites with PHP and developed very strong skills with each level of the LAMP stack. It's no longer my go-to language, but I still use it occasionally for quick prototyping.

	p.language-slide(data-key = 'c-sharp-dot-net')
		+languageSectionHeader('C# .NET')
		| I started using #[em C# .NET] and the #[em MVC5] framework to work on the #[a(href = '/projects#unitu-web-api') Unitu website and API] in mid-2015. Although it was not my primary language, I learned quickly and used it almost daily at Unitu.

	p.language-slide(data-key = 'mysql')
		+languageSectionHeader('MySQL & Others')
		| Whilst working with the #[em LAMP] stack I gained a good understanding of #[em MySQL] and incorporated it into many of my projects. In 2014 I began experimenting with other database systems, and since then I have used #[em MongoDB] and #[em ElasticSearch] in a number of my projects.

	p.show-all-languages(style = 'display: none;')
		a.icon-link(href = 'javascript:;')
			i.fa.fa-fw.fa-angle-double-right.text-highlight
			span Show All

	//- scripts

block scripts
	script(src = '/info/js/info.js')
