@import '../../_shared/css/defaults';

body {
	background-color: #ffffff;
	padding-bottom: 40px;
}

h1, h2, h3, p {
	color: #000000;
}

h1 {
	font-size: 3.2em;
	margin: 20px 0 0;
	text-align: center;
	font-weight: normal;
}

p.subtitle {
	margin-bottom: 2px;
	text-align: center;

	a {
		border-bottom: none;
	}
}

h2 {
	font-size: 2.5em;
	border-bottom: 1px solid $lineColour;
	clear: both;
	margin: 20px 0 12px;
}

h3 {
	font-size: 1.6em;
	margin: 20px 0 6px;
}

h3.first {
	margin-top: 12px;
}

h3.collapsible {
	span:last-child {
		margin-left: 15px;
		font-size: 65%;
	}
}

p, li {
	margin: 0 0 6px;
	font-size: 1.3em;
	line-height: 140%;
}

li {
	list-style-position: outside;
	margin-left: 1.3em;
}

li.no-dot {
	list-style-type: none;
}

i.info-dot {
	color: $veryMutedColour;
	margin-left: 15px;
}

table.grade-list {
	tr, td, th {
		border-color: $lineColour !important;
	}

	td, th {
		font-size: 0.9em;
	}

	th {
		font-weight: normal;
	}
}