body {
  background-color: #fbfbfb;
  font-family: "Lato", sans-serif !important;
  color: #333;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 80%;
  padding: 40px 0;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.inner {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}

.inner img {
  width: 200px;
  height: auto;
  flex-grow: 0;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 0 20px #bbb;
}

.inner .text-wrapper {
  flex-grow: 1;
  margin-left: 3rem;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
}

p {
  padding: 0;
  margin: 1rem 0 0;
  font-size: 1.6rem;
}

p.media-links a {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 1rem;
}

a:hover {
  color: #ff9900;
}

@media only screen and (max-width: 756px) {
  .inner {
    flex-direction: column;
  }

  .inner .text-wrapper {
    margin-left: 0;
    margin-top: 3rem;
  }
}
