// colours

$textColour: #333333;
$darkerTextColour: #000000;
$mutedColour: transparentize($textColour, 0.5);
$veryMutedColour: transparentize($textColour, 0.7);
$highlightColour: #ff9900;
$lineColour: #c0c0c0;

// fonts

$fontFamily: 'Lato';

// other

$boxShadow: 0 0 20px #bbbbbb;

// scaling

$smallScreen: 768px;