extends ../_shared/page-layout

mixin position(title, subtitle, id, imageName)
	div.floating-grid-item(id = id): div.inner
		if imageName != null
			img.left-thumbnail(src = '/positions/images/' + imageName, title = title)
		h3!= title.replace('@', '<span class="text-muted">@</span>')
		if subtitle != null
			p.subtitle!= subtitle
		block

block page-head
	link(rel = 'stylesheet', href = '/_shared/css/floating-grid-layout.css')

block page-body

	div.floating-grid

		+position(
		'Software Engineer @ Unitu',
		'June 2014 - present',
		'unitu',
		'unitu-logo.png')

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ut enim ac cursus. Cras feugiat, odio ut gravida dictum, nisi diam pulvinar erat, gravida aliquet est risus non metus. Mauris ac massa eros. Quisque in tristique nunc. Fusce varius imperdiet est, ut ultrices risus egestas ac. Donec gravida pellentesque tristique. Suspendisse imperdiet viverra eros vitae molestie.

			p Quisque nulla urna, mattis vel neque quis, lobortis laoreet nibh. Duis dui urna, hendrerit vel tellus ac, viverra vestibulum nisi. Duis cursus nulla hendrerit tellus laoreet, id porta elit placerat.

			div.hr.with-margin: hr

			p: a.icon-link(href = '/projects#unitu-android-app')
				i.fa.fa-code.text-highlight
				span Unitu Android App

			p: a.icon-link(href = '/projects#unitu-analytics')
				i.fa.fa-code.text-highlight
				span Unitu Analytics

			p: a.icon-link(href = '/projects#unitu-web-api')
				i.fa.fa-code.text-highlight
				span Unitu Website & API

			p: a.icon-link(href = '/references#anish-bagga')
				i.fa.fa-comment-o.text-highlight
				span Reference from CEO, Anish Bagga

			p: a.icon-link(href = '/references#fares-alaboud')
				i.fa.fa-comment-o.text-highlight
				span Reference from colleague, Fares Alaboud


		+position(
		'Teaching Assistant & Student @ King&#39;s College London',
		'September 2014 - July 2015',
		'kcl',
		'kcl-logo.png')

			p At KCL, I was a teaching assistant for the #[strong Advanced Practical Topics] course. The module gave students insights on a range of technical and programming topics that are not usually covered, including Unix, Python, version control and mobile development.

			p I also delivered #[a(href = '/projects#android-lectures') #[strong Android development lectures]] as part of KCL Tech Society's #[em Build X] course, and assisted with other lessons on beginner programming and website development.

			p Finally, as a student, I have achieved a grade of #[strong 89%] so far, putting me on track for a first class degree.

			div.hr.with-margin: hr

			p: a.icon-link(href = '/projects#android-lectures')
				i.fa.fa-code.text-highlight
				span KCL Tech Android Lectures

			p: a.icon-link(href = '/references#peter-mcburney')
				i.fa.fa-comment-o.text-highlight
				span Reference from head of department, Peter McBurney

			p: a.icon-link(href = '/references#andrew-coles')
				i.fa.fa-comment-o.text-highlight
				span Reference from professor, Dr Andrew Coles

			p: a.icon-link(href = '/references#joshua-simpson')
				i.fa.fa-comment-o.text-highlight
				span Reference from society Vice President, Joshua Simpson


		+position(
		'Summer Intern @ Allianz Petplan',
		'June 2015 - August 2015',
		'allianz-petplan',
		'allianz-petplan-logo.png')

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ut enim ac cursus. Cras feugiat, odio ut gravida dictum, nisi diam pulvinar erat, gravida aliquet est risus non metus. Mauris ac massa eros. Quisque in tristique nunc. Fusce varius imperdiet est, ut ultrices risus egestas ac. Donec gravida pellentesque tristique. Suspendisse imperdiet viverra eros vitae molestie.

			p Quisque nulla urna, mattis vel neque quis, lobortis laoreet nibh. Duis dui urna, hendrerit vel tellus ac, viverra vestibulum nisi. Duis cursus nulla hendrerit tellus laoreet, id porta elit placerat.

			div.hr.with-margin: hr

			p: a.icon-link(href = '/projects#allianz-petplan-your-voice')
				i.fa.fa-code.text-highlight
				span Allianz Petplan "Your Voice"

			p: a.icon-link(href = '/projects#allianz-petplan-petplan-live')
				i.fa.fa-code.text-highlight
				span Allianz Petplan "Petplan Live!"

			p: a.icon-link(href = '/references#hayley-sangan')
				i.fa.fa-comment-o.text-highlight
				span Reference from manager, Hayley Sangan

			p: a.icon-link(href = '/references#angeleen-leckie-james')
				i.fa.fa-comment-o.text-highlight
				span Reference from manager, Angeleen Leckie-James


				//Responsibilities split between the Project Management Office and Internal IT.
				//PMO: collation of weekly project reports for international projects; various SharePoint tasks (mostly with sub-sites and libraries); assisting in the running of meetings; testing new internal software; creating or improving internal process documentation.
				//IT: installation, repair and customisation of a FOG server; automating SharePoint processes; finding solutions to model existing complex databases.

		+position(
		'Summer Intern @ Excelian',
		'July 2014 - August 2014',
		'excelian',
		'excelian-logo.png')

			p During a six-week summer placement at Excelian I was shared between the #[strong Project Management Office] and #[strong IT] departments.

			p Whilst with the #[strong PMO] department I worked on collating weekly international project reports, software testing, software documentation and numerous #[strong MS SharePoint] tasks. I invested a little time into automating several aspects of these jobs, leaving me with spare time to work with the #[strong IT] department.

			p With the #[strong IT] department I worked mostly on setting up and customising a #[strong FOG server] to allow their technicians to automate workstation re-imaging, as well as helping to further automate some of their #[strong MS SharePoint] support tickets.

			div.hr.with-margin: hr

			p: a.icon-link(href = '/references#tara-drummond-finnis')
				i.fa.fa-comment-o.text-highlight
				span Reference from manager, Tara Drummond-Finnis


		+position(
		'Volunteer Teacher @ Project Trust',
		'August 2012 - August 2013',
		'project-trust',
		'project-trust-logo.png')

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ut enim ac cursus. Cras feugiat, odio ut gravida dictum, nisi diam pulvinar erat, gravida aliquet est risus non metus. Mauris ac massa eros. Quisque in tristique nunc. Fusce varius imperdiet est, ut ultrices risus egestas ac. Donec gravida pellentesque tristique. Suspendisse imperdiet viverra eros vitae molestie.

			p Quisque nulla urna, mattis vel neque quis, lobortis laoreet nibh. Duis dui urna, hendrerit vel tellus ac, viverra vestibulum nisi. Duis cursus nulla hendrerit tellus laoreet, id porta elit placerat.


		+position(
		'Self Employed Web Developer',
		'December 2008 - July 2014',
		'self-employed')

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ut enim ac cursus. Cras feugiat, odio ut gravida dictum, nisi diam pulvinar erat, gravida aliquet est risus non metus. Mauris ac massa eros. Quisque in tristique nunc. Fusce varius imperdiet est, ut ultrices risus egestas ac. Donec gravida pellentesque tristique. Suspendisse imperdiet viverra eros vitae molestie.

			p Quisque nulla urna, mattis vel neque quis, lobortis laoreet nibh. Duis dui urna, hendrerit vel tellus ac, viverra vestibulum nisi. Duis cursus nulla hendrerit tellus laoreet, id porta elit placerat.


	br(clear = 'both')

block scripts
	script(src = '/_vendor/js/masonry.packaged.min.js')
	script(src = '/_vendor/js/jquery.imagesloaded.js')
	script(src = '/_shared/js/floating-grid-layout.js')