@import '../../_shared/css/defaults';

div.language-list {
	display: none;
	text-align: center;

	ul {
		display: inline-block;

		li {
			display: inline-block;
			padding: 8px 6px 6px;
			margin: 4px;
			font-size: 1.35em;
			cursor: pointer;
			background-color: transparentize($highlightColour, 0.9);
			border-bottom: 2px solid transparentize($highlightColour, 0.9);
		}

		li:hover {
			background-color: transparentize($highlightColour, 0.8);
		}

		li.active {
			background-color: transparentize($highlightColour, 0.8);
			border-bottom-color: $highlightColour;
		}
	}
}

.slideshow-status {
	display: none;
	cursor: pointer;
	font-size: 95%;
	font-style: italic;
}