extends ../_shared/page-layout

mixin project(title, subtitle, imageFolder)
	div.project-item: div
		if imageFolder != null
			img.project-thumbnail(src = imageFolder + '/thumb.png', title = title)
		p.title= title
		if subtitle != null
			p.subtitle!= subtitle.join('<span class="text-very-muted"> // </span>')
		block

block page-head
	link(rel = 'stylesheet', href = '/projects/css/projects.css')

block page-body

	div.project-grid

		+project('Unitu Android App', ['Android', 'Project Management'], '/projects/images/unitu-android-app')
			p The Unitu Android app mirrors the functionality on the Unitu website, giving users access to the software wherever they are. I am responsible for #[strong planning and executing development] on the app, as well as #[strong testing] and #[strong deployment]. Since its launch it has helped to improve Unitu's student engagement, and has served as an excellent platform for me to develop my Android development skills.
			p: a.icon-link(href = '#')
				i.fa.fa-book
				| &nbsp;
				span Read the Case Study

		+project('Unitu Analytics Suite', ['Data Presentation', 'PHP', 'jQuery', 'ElasticSearch'])
			p Test content

		+project('Nuclibook', ['Java', 'Spark Framework', 'Project Management', 'University Project'])
			p Test content

		+project('Allianz Petplan Performance Dashboard', ['jQuery', 'CoffeeScript'])
			p Test content

		+project('Allianz Petplan "Your Voice"', ['Print Design', 'Communications', 'Managing Upwards'])
			p Test content

		+project('KCL Tech Android Lectures', ['Android', 'Teaching'])
			p Test content

		+project('NoisyTweets', ['Python', 'Flask Server', 'Twitter'])
			p Test content

		+project('MLHorrors', ['Android', 'GCM', 'Ruby'])
			p Test content

		+project('T.I.T.A.N.I.C.', ['Node.js', 'Express.js', 'MongoDB', 'Mongoose', 'CoffeeScript', 'SCSS', 'Jade', 'GitLab'])
			p Test content

	br(clear = 'both')

block scripts
	script(src = '/_vendor/js/masonry.packaged.min.js')
	script(src = '/_vendor/js/jquery.imagesloaded.js')
	script(src = '/projects/js/layout.js')