extends ../_shared/page-layout

mixin project(title, subtitle, id, imageFolder)
	div.project-item(id = id): div
		if imageFolder != null
			img.project-thumbnail(src = imageFolder + '/thumb.png', title = title)
		p.title= title
		if subtitle != null
			p.subtitle!= subtitle.join('<span class="text-very-muted"> // </span>')
		block

block page-head
	link(rel = 'stylesheet', href = '/projects/css/projects.css')

block page-body

	div.project-grid

		+project(
		'Unitu Android App',
		['Android', 'Project Management'],
		'unitu-android-app',
		'/projects/images/unitu-android-app')
			p The Unitu Android app mirrors the functionality on the Unitu website, giving users access to the software wherever they are. I am responsible for #[strong planning and executing development] on the app, as well as #[strong testing] and #[strong deployment]. Since its launch it has helped to improve Unitu's student engagement, and has served as an excellent platform for me to develop my Android development skills.
			p: a.icon-link(href = '#')
				i.fa.fa-book
				| &nbsp;
				span Read the Case Study

		+project(
		'Unitu Analytics',
		['PHP', 'jQuery', 'ElasticSearch', 'Data Presentation'],
		'unitu-analytics',
		'/projects/images/unitu-analytics')
			p Providing overview data to both the #[strong team] and #[strong customers], the Unitu analytics suite has proved to be an effective tool and a powerful selling point. As well as collecting data across the product, it also automates reporting tasks that used to consume a lot of person-hours. I am responsible for the #[strong planning and development] of the suite and I share some of the #[strong testing] duties.
			p: a.icon-link(href = '#')
				i.fa.fa-book
				| &nbsp;
				span Read the Case Study

		+project(
		'Unitu Website & API',
		['C# .NET', 'MVC5'],
		'unitu-website-api')
			p Test content

		+project(
		'Nuclibook',
		['Java', 'Spark Framework', 'Bootstrap', 'Project Management'],
		'nuclibook',
		'/projects/images/nuclibook')
			p Nuclibook is comprehensive booking system for nuclear medicine diagnostic studies and therapies; it meets the requirements of #[strong NHS hospitals] in general, and the #[strong Chelsea and Westminster Hospital] in particular. The system manages staff availability, stock orders, patient bookings, equipment and asset tracking, accountability logs, and more.
			p Built by a team of eight developers, I served as #[strong Project Leader] and was one the main code contributors.
			p: a.icon-link(href = 'https://github.com/musalbas/Nuclibook', rel = 'external')
				i.fa.fa-github
				| &nbsp;
				span Public Repository

		+project(
		'KCL Tech Android Lectures',
		['Android', 'Teaching'],
		'kcl-tech-android-lectures',
		'/projects/images/kcl-tech-android-lectures')
			p Running for 8 weeks, I wrote and delivered this course to #[strong teach Android development] to KCL students with no prior knowledge of mobile programming, as part of KCL Tech Society's #[strong Build X] lecture series. The course was a great success: many participants were able to build a fully-functioning, albeit basic, app during the course.
			p: a.icon-link(href = 'https://github.com/markormesher/KCLTechAndroidCourse', rel = 'external')
				i.fa.fa-github
				| &nbsp;
				span See the Course Materials

		+project(
		'T.I.T.A.N.I.C.',
		['Node.js', 'Express.js', 'MongoDB', 'Mongoose', 'CoffeeScript', 'SCSS', 'Jade', 'GitLab'],
		'titanic')
			p Test content

		+project(
		'Allianz Petplan "Petplan Live!" Dashboard',
		['jQuery', 'CoffeeScript'],
		'allianz-petplan-performance-dashboard')
			p Test content

		+project(
		'Allianz Petplan "Your Voice"',
		['Print Design', 'Communications', 'Managing Upwards'],
		'allianz-petplan-your-voice')
			p Test content

		+project(
		'NoisyTweets',
		['Python', 'Flask Server', 'Twitter'],
		'noisy-tweets')
			p Test content

		+project(
		'MLHorrors', ['Android', 'GCM', 'Ruby'],
		'mlhorrors')
			p Test content

	br(clear = 'both')

block scripts
	script(src = '/_vendor/js/masonry.packaged.min.js')
	script(src = '/_vendor/js/jquery.imagesloaded.js')
	script(src = '/projects/js/layout.js')