@import 'defaults';

.floating-grid-item {
	width: 50%;

	.inner {
		margin: 10px;
		padding: 8px;
		border: 1px solid $lineColour;
		border-radius: 5px;

		h3 {
			font-size: 1.4em;
			font-weight: normal;
			margin-top: 0;
			margin-bottom: 0;
		}

		p.subtitle {
			font-size: 1em;
			font-weight: normal;
			color: $mutedColour;
			margin-bottom: 2px;
		}

		p:last-of-type {
			margin-bottom: 1px;
		}

		div.left-thumbnail, img.left-thumbnail {
			float: left;
			padding-right: 8px;
			margin-right: 10px;
			border-right: 1px solid $lineColour;
		}
	}
}

// fit in with Bootstrap sizing
@media (max-width: 991px) {
	.floating-grid-item {
		width: 100%;
	}
}

// layout changes for small screens
@media (max-width: $smallScreen) {
	.floating-grid-item {
		.inner {
			margin: 10px 0;
			padding: 6px;

			div.left-thumbnail, img.left-thumbnail {
				display: block;
				float: none;
				padding: 0;
				margin: 0 auto 12px;
				border-right: none;
				text-align: center;
			}
		}
	}
}
