@import 'defaults';

div.header {
	border-bottom: 1px solid $lineColour;
	position: relative;

	h1, span {
		padding: 0;
		margin: 20px 0 10px;
	}

	h1 {
		display: inline-block;
		font-size: 3.2em;
	}

	span {
		display: inline-block;
		position: absolute;
		bottom: 0;
		font-size: 1.6em;

		span {
			display: inline;
			position: relative;
			font-size: 1em;
		}

		em {
			font-style: normal;
			color: $mutedColour;
		}

		a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}

		a:hover {
			border-bottom-color: $highlightColour;
		}
	}
}

ul.navigation {
	margin: 0;
	padding: 8px 0;
	border-bottom: 1px solid $lineColour;
	text-align: center;

	li {
		display: inline-block;
		padding: 0;
		margin: 0 20px;
		font-size: 1.5em;
		list-style-type: none;

		a {
			color: inherit;
			text-decoration: none;
			border-bottom: none;
			padding-top: 1px; // to balance out bottom border

			i {
				color: $veryMutedColour;
				margin-right: 12px;
			}
		}

		a:hover span {
			border-bottom: 1px solid $highlightColour;
		}
	}

	li.active a i {
		color: $highlightColour;
	}

	li.expand {
		display: none;

		a span {
			color: $mutedColour;
			border-bottom: none !important;
		}
	}
}

div.content {
	margin: 0;
	padding: 10px 0 0;
}

// layout changes for small screens
@media (max-width: $smallScreen) {
	div.header {
		h1 {
			display: block;
			margin-bottom: 0;
		}

		span {
			position: relative;
			display: block;
			margin-top: 0;

			span {
				display: none;
			}
		}
	}

	ul.navigation {
		li {
			display: block;
			margin: 0;
		}
	}
}
