@import 'shared/defaults';

div.left-thumbnail {
	position: relative;

	span.gallery {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 1em;
		vertical-align: middle;
		padding: 4px 8px 0 6px;
		background-color: transparentize(#ffffff, 0.08);
		color: $highlightColour;

		span {
			display: none;
		}
	}
}

div.left-thumbnail:hover span.gallery span {
	display: inline;
}

// layout changes for small screens
@media (max-width: $smallScreen) {
	span.gallery, span.gallery span {
		display: inline !important;
	}
}
