extends ../_shared/root-layout

block head

	link(rel = 'stylesheet', href = '/core/css/index.css')

block body

	div.hr: hr

	div.card
		img(src = '/core/images/temp.jpg')

		div.text-wrapper
			h1 Mark Ormesher

			p.tag-line
				| Student
				span.text-highlight &nbsp;&amp;&nbsp;
				| Software Developer

	div.hr: hr

	ul.links
		li: a(href = '#') Info &amp; Skills
		li: a(href = '#') Projects
		li: a(href = '#') Positions
		li: a(href = '#') References
		li: a(href = '#') Contact