extends ../_shared/root-layout

block head

	link(rel = 'stylesheet', href = '/css/index.css')

block body

	div.hr: hr

	div.card
		img(
		src = '/core/images/mark-photo.jpg',
		title = 'Mark Ormesher - Software Developer'
		)

		div.text-wrapper
			h1 Mark Ormesher

			p.tag-line Software Developer

			p.media-links
				a(href = 'https://github.com/markormesher'): i.fa.fa-github
				a(href = 'https://uk.linkedin.com/in/markormesher'): i.fa.fa-linkedin
				a(href = '/cv'): strong CV

	div.hr: hr

	include ../_shared/navigation

	div.hr: hr
