extends ../_shared/root-layout

block head

	link(rel = 'stylesheet', href = '/core/css/index.css')

block body

	div.hr: hr

	div.card
		img(src = '/core/images/temp.jpg')

		div.text-wrapper
			h1 Mark Ormesher

			p.tag-line
				| Student
				span.text-highlight &nbsp;&amp;&nbsp;
				| Software Developer

			p.media-links
				a(href = '#'): i.fa.fa-twitter
				a(href = '#'): i.fa.fa-stack-overflow
				a(href = '#'): i.fa.fa-github
				a(href = '#'): i.fa.fa-linkedin

	div.hr: hr

	include ../_shared/navigation

	div.hr: hr