// colours

$textColour: #333333;
$textMuted: transparentize($textColour, 0.5);
$textHighlight: #990000;

// fonts

$fontFamily: 'Lato';

// CSS defaults

h1, h2, h3, h4, h5, h6, p, li, input, label, span {
	font-family: $fontFamily, sans-serif !important;
	color: $textColour;
}