@import 'defaults';

// global style

body {
	background-color: #fbfbfb;
}

// fonts

h1, h2, h3, h4, h5, h6, p, li, input, label, span, blockquote, table {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

h2, h3 {
	margin: 20px 0 12px;
}

h2 {
	font-size: 2.5em;
	border-bottom: 1px solid $lineColour;
	clear: both;
}

h3 {
	font-size: 1.8em;
}

p, li, blockquote, table {
	margin: 0 0 12px;
	font-size: 1.3em;
	line-height: 150%;
}

li li, li table {
	font-size: 1em;
}

li {
	margin-left: 1.3em;
}

a:link, a:active, a:visited {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid $lineColour;
}

a:hover {
	color: inherit;
	text-decoration: none;
	border-bottom-color: $highlightColour;
}

strong {
	font-weight: normal;
}

em {
	font-style: italic;
	color: $darkerTextColour !important;
}

code, .code {
	color: #a65f00;
	background-color: transparentize(#c0c0c0, 0.75);
}

pre {
	color: $darkerTextColour !important;
}

.text-larger {
	font-size: 150%;
}

.text-smaller {
	font-size: 80%;
}

.text-muted {
	color: $mutedColour !important;
}

.text-very-muted {
	color: $veryMutedColour !important;
}

.text-highlight {
	color: $highlightColour !important;
}

// global components

div.hr {
	height: 1px;
	background-color: $lineColour;
	width: 80%;
	margin: 0 10%;

	hr {
		display: none;
	}
}

div.hr.with-margin {
	margin-bottom: 12px;
}

div.hr.end {
	margin-bottom: 100px;
}

div.hr.full {
	width: 100%;
	margin: 0;
}

a.icon-link {
	border-bottom: none;

	i.fa {
		color: $mutedColour;
	}

	span {
		border-bottom: 1px solid $lineColour;
		margin-left: 8px;

		span {margin-left: 0;}
	}

	span:hover {
		border-bottom-color: $highlightColour;
	}
}

span.icon-link {
	i.fa {
		color: $mutedColour;
	}

	span {
		margin-left: 8px;

		span {margin-left: 0;}
	}
}

img.inline-left {
	display: inline-block;
	float: left;
	margin-right: 18px;
}

img.inline-right {
	display: inline-block;
	float: right;
	margin-left: 18px;
}

img.bordered {
	border: 5px solid #ffffff;
	box-shadow: $boxShadow;
}

// layout changes for small screens
@media (max-width: $smallScreen) {
	img.inline-left, img.inline-right {
		max-width: 80%;
		display: block;
		float: none;
		margin: 0 auto 12px;
	}
}