// colours

$textColour: #333333;
$mutedColour: transparentize($textColour, 0.5);
$veryMutedColour: transparentize($textColour, 0.7);
$highlightColour: #ff9900;
$lineColour: #e0e0e0;

// fonts

$fontFamily: 'Lato';

// other

$boxShadow: 0 0 20px #bbbbbb;

// global styles

h1, h2, h3, h4, h5, h6, p, li, input, label, span {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

body {
	background-color: #fbfbfb;
}

div.hr {
	height: 1px;
	background-color: $lineColour;
	width: 80%;
	margin: 0 10%;

	hr {
		display: none;
	}
}

.text-muted {
	color: $mutedColour !important;
}

.text-highlight {
	color: $highlightColour !important;
}