@import '../../_shared/css/defaults';

// global style

body {
	background-color: #fbfbfb;
}

div.hr {
	height: 1px;
	background-color: $lineColour;
	width: 80%;
	margin: 0 10%;

	hr {
		display: none;
	}
}

div.hr.with-margin {
	margin-bottom: 12px;
}

// headers

h1, h2, h3, h4, h5, h6, p, li, input, label, span {
	font-family: $fontFamily, sans-serif !important;
	font-weight: lighter;
	color: $textColour;
}

// fonts

em {
	font-style: italic;
	color: $darkerTextColour !important;
}

code, .code {
	color: #a65f00;
	background-color: transparentize(#c0c0c0, 0.75);
}

pre {
	color: $darkerTextColour !important;
}

.text-muted {
	color: $mutedColour !important;
}

.text-very-muted {
	color: $veryMutedColour !important;
}

.text-highlight {
	color: $highlightColour !important;
}
